<div class="pokemonCard" *ngIf="pokemon">
  <div>
    <h1>{{pokemon.name}}</h1>
    <img [defaultImage]="'/assets/img/descarga.jpg'" [lazyLoad]="imagePrincipal">
  </div>

  <section>
    <div>
      <h2>Habilidades</h2>
      <p class="abilities" *ngFor="let ability of pokemon.abilities">
        {{ability.ability.name}}
      </p>
      <h2>Experiencia Base: {{pokemon.baseExperience}}</h2>
    </div>
    <div>
      <h2>Estadisticas</h2>
      <div class="stats" *ngFor="let stat of pokemon.stats">
        <h4>{{stat.stat.name}}:</h4>
        <p>{{stat.base_stat}}</p>
      </div>
    </div>
  </section>
  <div>
    <h2>sprites</h2>
    <div class="sprites">
      <img *ngFor="let spr of sprites" [defaultImage]="'/assets/img/descarga.jpg'" [lazyLoad]="spr">
    </div>
  </div>

</div>
