.hidden{
  display: none
}
.scroll-container{
  height: 100vh;
  overflow: scroll;
}

.slide {
  background-image: url('/assets/img/background-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.slide--content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 0 20px;
  h1{
    color: white;
    max-width: 700px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  app-search{
    width: 100%;
  }
}
.slide::before{
  content:'';
  height: 500px;
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}
